<h1>Connect to Slack</h1>

<p>
  Looks like you want to connect to Slack. Are all these things correct?
</p>

<ul>
  <li>(some)</li>
  <li>(things)</li>
  <li>(to)</li>
  <li>(confirm)</li>
</ul>

<p>
  <a href="/slack/oauth/confirm" class="btn btn-success">Yes, connect</a>
</p>

<p>
  If not, just close this window. No harm done.
</p>
