<h1>Connect to Slack</h1>
<% unless ENV['SLACK_CLIENT_ID'] %>
  <div class="alert alert-danger">
    Add <code>SLACK_CLIENT_ID</code> and <code>SLACK_CLIENT_SECRET</code> to your environment to enable this feature.
  </div>
<% else %>
  <p>
    <% if @need_to_connect_app %>
      Samson isn't connected to Slack.
      <%= link_to 'Connect to Slack', oauth_url('chat:write:bot,commands,identify'), class: 'btn btn-success' %>
    <% elsif @need_to_connect_user %>
      Samson needs to know your Slack user ID in order to enable the <code>/deploy</code> command.
      <%= link_to 'Connect to Slack', oauth_url('identify'), class: 'btn btn-success' %>
    <% else %>
      Samson is connected to Slack, and knows who you are.
      Now you can use the <code>/deploy</code> command from Slack.
    <% end %>
  </p>
<% end %>
